.venv/
__pycache__/
*.pyc
.DS_Store

.env
.env.*
!.env.example

.idea/
*.iml

backend/.pytest_cache/

frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

*.log